body {
  background-color: #202124;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  user-select: none;
}

.navbar-google {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.navbar-google-item {
  margin-right: 20px;
  margin-top: 5px;
  font-size: 13px;
}

.icon {
  border-radius: 50px;
  margin: -2px 10px 0 20px;
}

.icon:hover {
  box-shadow: 0px 0px 0px 6px rgba(95, 95, 95, 0.2);
  cursor: pointer;
}

#dots9 {
  margin: 2px 0 0 2px;
  width: 24px;
  border-radius: 50px;
}

#dots9:hover {
  box-shadow: 0px 0px 0px 8px rgba(95, 95, 95, 0.2);
  cursor: pointer;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin-top: 65px;
}

#google-logo {
  height: 200px;
}

input {
  all: unset;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 0 0 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid #5f6368;
  border-radius: 40px;
  width: 100%;
  max-width: 561px;
  margin: -20px 50px 10px 50px;
}

.search-container:hover {
  border-color: #6a6a6a; /* Change border color on hover */
  box-shadow: 0 0 5px rgba(114, 114, 114, 0.6);
  cursor: text;
}

#search-loop {
  margin: 5px 0 0 15px;
}

#search-micro {
  margin: 0 15px 10px 0;
}

#search-micro:hover {
  cursor: pointer;
}

.google-btn {
  all: unset;
  margin-top: 30px;
  background-color: #303134;
  color: #fff;
  padding: 9px 18px 9px 18px;
  border-radius: 4px;
  border: 1px solid #202124;
}

.google-btn:hover {
  border: 1px solid rgb(85, 85, 85);
  cursor: pointer;
}

#google-offer {
  margin-top: 30px;
  color: #fff;
}

span {
  color: #8ab4f8;
}

span:hover {
  color: #8ab4f8;
  text-decoration: underline;
  cursor: pointer;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:active {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}
